/*npm run watch:sass*/
/*$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
*/
@import "~bootstrap/dist/css/bootstrap.css";
:root {
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #fafbfd;
  --bs-body-bg-rgb: 0, 8, 36;
  --bs-emphasis-color-rgb: 14, 16, 112;
  --bs-main-font: Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans",
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --bs-body-font-family: var(--bs-main-font);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-navbar-color-rgb: 235, 238, 244;
  --bs-navbar-padding-x: 0;
  --bs-navbar-padding-y: 3.5rem;
  --bs-navbar-color: rgba(var(--bs-navbar-color-rgb), 0.65);
  --bs-navbar-hover-color: rgba(var(--bs-emphasis-color-rgb), 0.8);
  --bs-navbar-disabled-color: rgba(var(--bs-emphasis-color-rgb), 0.3);
  --bs-navbar-active-color: rgba(var(--bs-emphasis-color-rgb), 1);
  --bs-navbar-brand-padding-y: 0.3125rem;
  --bs-navbar-brand-margin-end: 1rem;
  --bs-navbar-brand-font-size: 2.25rem;
  --bs-navbar-brand-color: rgba(var(--bs-emphasis-color-rgb), 1);
  --bs-navbar-brand-hover-color: rgba(var(--bs-emphasis-color-rgb), 1);
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: #000824;
}
body::-webkit-scrollbar {
  width: 9px;
}
body::-webkit-scrollbar-track {
  background: rgba(61, 59, 59, 0);
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(85, 84, 87, 0.8); /* color of the scroll thumb */
  border-radius: 20px;
}

::selection {
  background-color: #46c4cb;
  color: #22133f;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.outfit-extra-bold {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.outfit-bold {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.outfit-medium {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.outfit-regular {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  text-align: center;
  font-size: 3rem;
  letter-spacing: 1.7px;
}

p,
.text {
  font-size: 1.28em;
}

a {
  text-decoration: none;
}

.white-background-text {
  background-color: #fafbfd;
  border-radius: 3px;
  color: #000824;
  width: fit-content;
  height: fit-content;
  padding: 0 3px;
  display: initial;
}

.blue-circle {
  width: 650px;
  height: 750px;
  border-radius: 50%;
  background-color: rgba(126, 206, 243, 0.1);
  box-shadow: 0 0 15px 0 #71b47a;
  filter: blur(200px);
  position: fixed;
  z-index: -1000;
}

.pink-circle {
  width: 650px;
  height: 750px;
  border-radius: 50%;
  background-color: rgba(210, 143, 241, 0.15);
  box-shadow: 0 0 15px 0 #71b47a;
  filter: blur(200px);
  position: fixed;
  z-index: -1000;
}

.header-blue-circle {
  margin: -200px 0 0 -430px;
  overflow-x: hidden;
}

.header-pink-circle {
  right: -390px;
  top: 350px;
  overflow-x: hidden;
}

.id-anchor {
  display: block;
  height: 50px; /*same height as header*/
  margin-top: -50px; /*same height as header*/
  visibility: hidden;
}

.container {
  max-width: 1430px !important;
  margin: auto !important;
}

/************** NAVBAR *******************/
.bg-body-tertiary {
  background-color: transparent !important;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.navbar-brand {
  color: rgba(250, 251, 253, 0.76) !important;
  border: none !important;
  padding-left: 20px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  color: rgba(250, 251, 253, 0.76) !important;
  font-size: 1.6em;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  box-shadow: none !important;
  border: none !important;
  letter-spacing: 1px;
  font-weight: 300;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: rgb(250, 251, 253) !important;
  overflow-x: hidden !important;
}

.navbar-toggler-icon {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(250, 251, 253, 0.76)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.navbar-toggler {
  border-color: rgba(250, 251, 253, 0.76) !important;
  background-color: transparent !important;
  --bs-navbar-toggler-border-radius: var(--bs-border-radius);
  --bs-navbar-toggler-focus-width: 0.25rem;
  --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
  --bs-navbar-toggler-padding-y: 0.25rem;
  --bs-navbar-toggler-padding-x: 0.75rem;
  --bs-navbar-toggler-font-size: 1.25rem;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.navbar-scrolled {
  backdrop-filter: blur(20px);
  padding-top: 8px !important;
  background: radial-gradient(circle, rgba(0, 8, 36, 0.6) 56%, rgba(26, 31, 64, 0.6) 86%, rgba(27, 28, 71, 0.45) 96%, rgba(56, 35, 74, 0.55) 100%) !important;
}
.navbar-scrolled .dropdown-menu[data-bs-popper] {
  margin-top: 8px;
}

.language-wrapper {
  width: 160px;
  display: flex;
  justify-content: end;
  padding-right: 20px;
  margin-left: auto;
}

.flag {
  max-width: 50px;
  margin-right: 20px;
}

.dropdown-menu[data-bs-popper] {
  right: 0;
  left: auto !important;
  background: rgba(15, 18, 50, 0.8) !important;
  border: none;
  margin-top: 14px;
}

.dropdown-toggle {
  border: none !important;
  background: none !important;
}

.item-dropdown {
  cursor: pointer;
}

.dropdown-item:hover {
  background: linear-gradient(180deg, rgba(14, 16, 112, 0.5) 0%, rgba(57, 8, 80, 0.59) 45%, rgba(128, 21, 131, 0.38) 100%) !important;
}

.logo {
  max-width: 160px;
  opacity: 90%;
}

/******** HEADER ************/
.header {
  padding: 190px 0 90px;
  align-items: center;
}

.title {
  font-size: 3.5rem;
  letter-spacing: 1.7px;
}

.niek-avatar {
  max-width: 300px;
}

.header-subtitle {
  font-size: 1.5em;
}

.introtext-header {
  width: 40%;
}

/************** INTRO *************/
.services-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  max-width: 100%;
}
.services-wrapper .service-wrapper {
  flex: 1 1 calc(33.333% - 2rem);
  max-width: 420px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem;
}
.services-wrapper .service-wrapper .service-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 410px;
}
.services-wrapper .service-wrapper .service-container .service-text {
  font-size: 0.98em;
  letter-spacing: 0.5px;
}
.services-wrapper .service-wrapper .service-icon {
  max-width: 130px;
  margin-bottom: -90px;
  z-index: 800;
}

.web-dev-container-1 {
  border-width: 3px;
  border-style: solid;
  border-radius: 40px;
  border-image: linear-gradient(to bottom, rgba(212, 172, 250, 0.8823529412) 0%, #6f75a9 40%, #2b2d74 100%) 1;
}

.cta {
  max-width: 900px;
}
.cta .cta-btn {
  max-width: 300px;
  transition: 0.3s;
}
.cta .cta-btn:hover {
  border-image: none;
  border-image: linear-gradient(to right, rgba(219, 193, 243, 0.8352941176) 0%, #abb0e3 60%, #5d60ba 100%) 1;
}

/********** PORTFOLIO **********/
.portfolio {
  max-width: 1780px;
  margin: auto;
}
.portfolio .portfolio-img {
  max-width: 500px;
}
.portfolio .portfolio-p {
  font-size: 1rem;
  width: 250px;
}
.portfolio .portfolio-link {
  font-size: 1.3em;
}
.portfolio .portfolio-text {
  width: min-content;
}
.portfolio .left-container {
  margin-left: 150px;
}
.portfolio .right-container {
  margin-right: 150px;
}
.portfolio .teamforge-container {
  padding-top: 40px;
}

/******** PRICING ************/
/******************** CONTACT ***********************/
.contact-links {
  font-size: 1.3em;
}

.contact-link:hover {
  background-color: transparent;
  outline: 2px solid #fafbfd;
  color: #fafbfd;
  font-weight: 500;
  padding: 0 5px;
}

/*************** CONTACT FORM **********************/
.contactform-container {
  max-width: fit-content;
  padding: 30px 50px;
}
.contactform-container .form .form-group .form-control {
  border: 2px solid;
  border-radius: 0;
  border-image: linear-gradient(to right, rgba(212, 172, 250, 0.8352941176) 0%, #6f75a9 60%, #2b2d74 100%) 1;
  background-color: transparent;
  height: 50px;
}
.contactform-container .form .form-group .form-control::placeholder {
  color: rgba(250, 251, 253, 0.7215686275);
  opacity: 1;
}
.contactform-container .form .form-group .form-control:focus {
  box-shadow: none;
}
.contactform-container .form textarea.form-control {
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, rgba(212, 172, 250, 0.8352941176) 0%, #6f75a9 60%, #2b2d74 100%) 1;
  height: 30px;
  overflow: hidden;
}
.contactform-container .form input:-webkit-autofill,
.contactform-container .form input:-webkit-autofill:hover,
.contactform-container .form input:-webkit-autofill:focus,
.contactform-container .form input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #fafbfd;
  font-family: "Roboto", sans-serif;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: none;
}
.contactform-container .form .success {
  font-size: 1.2em;
  transition: 0.3s;
}

.btn {
  color: rgba(250, 251, 253, 0.862745098);
  font-size: 1.2em;
  border-image: linear-gradient(to right, rgba(212, 172, 250, 0.8352941176) 0%, #6f75a9 60%, #2b2d74 100%) 1;
  border-width: 2px;
  border-style: solid;
  border-radius: 0;
  letter-spacing: 1.4px;
  padding: 10px;
  background: linear-gradient(180deg, rgba(14, 16, 112, 0.3) 0%, rgba(57, 8, 80, 0.29) 45%, rgba(128, 21, 131, 0.18) 78%);
  width: 100%;
}
.btn:hover {
  background: linear-gradient(180deg, rgba(14, 16, 112, 0.5) 0%, rgba(57, 8, 80, 0.59) 45%, rgba(128, 21, 131, 0.38) 100%);
  color: #fafbfd;
  outline: none;
  border-image: linear-gradient(to right, rgba(212, 172, 250, 0.8352941176) 0%, #6f75a9 60%, #2b2d74 100%) 1;
}
.btn:active {
  background: linear-gradient(180deg, rgba(14, 16, 112, 0.5) 0%, rgba(57, 8, 80, 0.59) 45%, rgba(128, 21, 131, 0.38) 100%);
  color: #fafbfd;
  border-image: linear-gradient(to right, rgba(212, 172, 250, 0.8352941176) 0%, #6f75a9 60%, #2b2d74 100%) 1;
  outline: none;
}
.btn:active:focus {
  background: linear-gradient(180deg, rgba(14, 16, 112, 0.5) 0%, rgba(57, 8, 80, 0.59) 45%, rgba(128, 21, 131, 0.38) 100%);
  color: #fafbfd;
  border-image: linear-gradient(to right, rgba(212, 172, 250, 0.8352941176) 0%, #6f75a9 60%, #2b2d74 100%) 1;
  outline: none;
}

.created-by {
  font-size: 0.7em;
  position: relative;
  top: 60px;
}

/**************** @MEDIA *****************/
/************ BOOTSTRAP BREAKPOINTS ***********/
/********* END BOOTSTRAP BREAKPOINTS **********/
@media (max-width: 1490px) {
  .niek-avatar {
    max-width: 240px;
  }
  .title {
    font-size: 2.9rem;
    letter-spacing: 1.4px;
  }
  .introtext-header {
    width: 70%;
  }
}
@media (max-width: 1366px) {
  .pricing-container {
    max-width: 280px;
    padding: 10px 10px 10px 15px;
  }
  .pricing-container .price-check {
    margin-bottom: 10px;
  }
}
@media (max-width: 1200px) {
  .flag {
    max-width: 40px;
  }
  .introtext-header {
    font-size: 1.2em;
  }
}
@media (max-width: 1183px) {
  .pricing-container {
    max-width: 480px;
    padding: 10px 10px 10px 15px;
  }
  .logo {
    max-width: 130px;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    font-size: 1.4em;
  }
  .portfolio .portfolio-img {
    max-width: 380px;
  }
  .left-container {
    margin: 50px 0 0 0;
  }
  .right-container {
    margin: 50px 0 0;
  }
  .portfolio-items {
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
  }
}
@media (max-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    justify-content: center;
  }
  .navbar-scrolled {
    backdrop-filter: blur(3px);
  }
  .navbar {
    backdrop-filter: blur(10px);
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    font-size: 1.4em;
    color: rgba(249, 249, 250, 0.76) !important;
  }
  .navbar > .container-fluid {
    justify-content: initial !important;
  }
  .navbar-brand {
    flex: auto;
  }
  .navbar-toggler {
    margin-right: 20px;
  }
  .intro-link {
    padding-top: 20px;
  }
  .language-wrapper {
    margin-top: -50px;
  }
  .niek-avatar {
    max-width: 200px;
    margin-left: 150px;
  }
  .title {
    font-size: 2.5rem;
    letter-spacing: 1.1px;
  }
  .introtext-header {
    width: 85%;
  }
  .extras-text-container {
    max-width: 410px;
  }
  .extras-text {
    font-size: 1.15em;
  }
  .long-border {
    min-height: 143px;
  }
}
@media (max-width: 860px) {
  .extras-wrapper {
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
  }
  .extras-text-container {
    max-width: 444px;
  }
  .short-line {
    visibility: hidden;
  }
  .extras-item {
    height: fit-content;
    line-height: 15px;
    border-left: 3px solid #bdb2fa;
    border-radius: 3px;
  }
  .line-transparent {
    margin: -6px 0 -4px -1px;
  }
}
@media (max-width: 853px) {
  .services-wrapper {
    flex-direction: column;
    justify-content: center !important;
    align-items: center;
  }
  .service-wrapper {
    flex: 1 1 100%;
  }
  .portfolio .portfolio-img {
    max-width: 300px;
  }
  .portfolio .left-container {
    margin-left: 0;
  }
  .portfolio .right-container {
    margin-right: 0;
  }
  .niek-avatar {
    margin-left: 30px;
  }
  .blue-circle {
    width: 0;
    height: 0;
  }
  .pink-circle {
    width: 0;
    height: 0;
  }
}
@media (max-width: 768px) {
  .header {
    padding: 150px 0 80px;
  }
  .niek-avatar-2 {
    max-width: 190px;
    display: flex !important;
  }
  .niek-avatar-2-wrapper {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding-bottom: 40px;
  }
  .niek-avatar {
    display: none;
  }
  .hidden-wrapper {
    padding-bottom: 30px;
    justify-content: flex-start;
  }
  .header {
    text-align: center;
  }
  .title {
    font-size: 2.3rem;
  }
}
@media only screen and (max-width: 576px) {
  .right-container {
    display: flex;
    flex-direction: column;
  }
  .left-container {
    display: flex;
    flex-direction: column-reverse;
  }
  .portfolio .portfolio-img {
    max-width: 370px;
  }
  .portfolio .portfolio-link {
    font-size: 1.2em;
  }
  .portfolio-text {
    text-align: center;
  }
  p,
  .text {
    font-size: 1.1em;
  }
  .contactform-container {
    padding: 30px 20px;
  }
  .introtext-header {
    width: 95%;
  }
  h2 {
    font-size: 2.7rem;
  }
  .service-container {
    width: 100% !important;
  }
}
@media only screen and (max-width: 500px) {
  .form-title {
    font-size: 20px;
  }
  .title {
    font-size: 1.6rem;
  }
  .niek-avatar-2 {
    max-width: 150px;
    display: flex !important;
  }
  .header-subtitle {
    font-size: 1.35em;
  }
  .hi-title {
    font-size: 2.6em;
  }
}
@media (max-width: 460px) {
  .web-dev-container-1 {
    margin: 0;
  }
}
@media (max-width: 412px) {
  .long-border {
    min-height: 170px;
  }
  .service-subtitle {
    font-size: 1.1em;
  }
  .services-wrapper .service-wrapper .service-container .service-text {
    font-size: 0.9em;
  }
  .header {
    padding: 150px 0 40px;
  }
}
@media (max-width: 382px) {
  .long-border {
    min-height: 190px;
  }
  .tag {
    font-size: 1.5rem;
  }
}

/*# sourceMappingURL=styles.css.map */
